.stream-chat-layout {
    display: flex;
    gap: 20px;
    align-items: flex-start;
  }
  
  .stream-video {
    width: 70%;
  }
  
  .stream-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex-grow: 1;
    text-align: center;
    width: 100%;
    padding: 20px 0;
  }
  
  .chat-box {
    position: fixed;
    bottom:0;
    right:0;
    background: rgb(255, 255, 255, 0.75);
    border: 1px solid #ccc;
    padding: 15px;
    width: 25%;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: black;
    transition: width 0.3s ease, height 0.3s ease, padding 0.3s ease;
    overflow: hidden;
    border-radius: 10px 10px 0 0;
  }
  
  .chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .collapse-btn {
    background: #860037;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 0.9em;
    transition: background 0.3s ease;
  }
  
  .collapse-btn:hover {
    background: #610028;
  }
  
  .chat-box.collapsed {
    height: auto;
    padding: 10px 15px;
  }
  
  .chat-box.collapsed .chat-messages,
  .chat-box.collapsed form {
    display: none;
  }
  
  .chat-messages {
    flex-grow: 1;
    overflow-y: auto;
    padding: 5px;
    max-height: 400px;
    text-align: left;
  }
  
  .chat-messages p {
    margin: 5px 0;
    font-size: 0.9em;
    color: black;
  }
  